/*COLORS*/
$gradient-b: #31a5d6;
$gradient-t: #9147dc;
$wrapper-bg: #ffffff;
$gray-text: #969696;
$black-text: #000000;
$border-color: #EDEDED;
$button-color: #347AB4;

/*GENERAL*/
body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=$gradient-b, endColorstr=$gradient-t)";
  background: -webkit-linear-gradient(45deg, $gradient-b, $gradient-t) fixed;
  background: -moz-linear-gradient(45deg, $gradient-b, $gradient-t) fixed;
  background: -o-linear-gradient(45deg, $gradient-b, $gradient-t) fixed;
  background: linear-gradient(45deg, $gradient-b, $gradient-t) fixed;
}

p{
  margin: 0;
}

em{
  font-size: 18px;
  font-style: normal;
  color: $gray-text;
}

strong{
  font-style: normal;
  font-size: 24px;
  color: $black-text;
  font-weight: 500;
}

h1,h2 {
  margin: 0;

  font-size: 32px;
  font-weight: 700;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.6);
}

.wrapper {
  margin: 60px auto;

  width: 100vw;
  max-width: 1200px;
  background-color: $wrapper-bg;
  border-radius: 40px;

  input {
    margin: 0;
    padding: 8px;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: $gray-text;

    color-scheme: $gray-text;
    border-radius: 10px;
    border: 1px solid $border-color;
  }

  .content {
    padding: 0 28px;
  }
}

/*BUTTONS*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;

  width: 251px;
  height: 40px;

  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: $wrapper-bg;

  background-color: $button-color;
  border-radius: 10px;
  border: 0;

  transition: background-color 0.1s ease;

  &:hover {
    background-color: lighten($button-color, 5%);

    img {
      transform: translateX(5px);
    }
  }

  &:active {
    background-color: darken($button-color, 5%);
  }

  img {
    transition: transform 0.15s ease-out;
  }
}


/*REGISTRATION*/
.reg {
  position: relative;

  margin: 75px auto;

  width: 740px;
  height: 455px;

  .right {
    height: 100%;
    width: 50%;
    gap: 25px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-image: url('../public/img/reg-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


  }

  .left {
    padding: 30px 0;

    height: 100%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    input {
      width: 251px;
      height: 34px;
      border: 1px solid $border-color;

      color: $gray-text;
      font-size: 18px;
      font-weight: 400;
    }

    h1 {
      margin-bottom: 48px;
    }

    a {
      margin-top: 13px;

      font-size: 16px;
      color: $button-color !important;
      font-weight: 300;
    }

    .checkbox {
      width: 251px;

      color: $gray-text;
      font-size: 18px;

      input {
        width: 18px;
        height: 18px;
      }

      a {
        color: $button-color;
      }
    }

  }
}

.decoration {
  position: absolute;
  z-index: 10;

  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  margin: auto;

  width: 85px;
  height: 85px;
  background-color: $black-text;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  p {
    font-size: 24px;
    color: $wrapper-bg;
    font-weight: 400;
  }
}














